.item {
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 10px;
}

.item div {
    margin-right: 20px;
}

.item .Btn {
    padding: 2px 10px;
}
