.comments{
    width: fit-content;
    height: fit-content;

}

.commentform{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.commentarea {
    width: 300px;
    height: 100px;
    resize: none;
}

.commentssection {
    width: 400px;
    overflow-y: auto;
    max-height: 300px;
}

.comments h2 {
    text-align: center;
}

.comment {
    margin: 10px;
    border-bottom: 1px solid black;
    padding: 10px;
}

.comment p {
    font-size: 20px;
    font-weight: bold;
}

.commentbtn {
    padding: 3px;
    font-size: 15px;
}

@media only screen and (max-width: 600px){
    .commentarea {
        width: 200px;
        height: 30px;
    }

    .commentssection {
        width: 250px;
    }

    .comment p {
        font-size: 15px;
    }

    .commentbtn {
        padding: 2px;
        font-size: 10px;
    }
}

