.App {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Header {
    color: white;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    width: fit-content;
}

.Content {
    border: 3px solid #816f6f;
    border-radius: 30px;
    padding: 20px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 800px;
    height: fit-content;
    background-color: rgba(231, 189, 138, 0.644);
}

.Btn {
    padding: 10px;
    margin: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #000;
    background-color: #eed0d0;
    border-radius: 5px;
    border: 2px solid black;
    text-decoration: none;
    cursor: pointer;
    transition: 1s;
}

.Btn:hover {
    transition: 1s;
    background-color: white;
    cursor: pointer;
}

.form {
    text-align: center;    
    width: fit-content;
}

.formContent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
}

.formContent input, textarea {
    padding: 10px;
    margin: 15px;
    border: transparent;
    border-radius: 10px;
    font-size: 15px;
}

.formContent input{
    height: 30px;
}

.formContent textarea{
    height: 100px;
    resize: none;
}

.formBtn {
    padding: 10px;
    margin: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #000;
    background-color: #eed0d0;
    border-radius: 10px;
    border: 2px solid black;
    text-decoration: none;
}

.formBtn:hover {
    background-color: white;
}

@media only screen and (max-width: 900px) {

    .formContent{
        width: 75%;
    }

    input{
        width: 200px;
    }

    .Content {
        font-size: 15px;
        margin: 0;
        padding: 0;
        width: 500px;
    }

    .Btn {
        font-size: 15px;
    }

    .label_input {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

@media only screen and (max-width: 600px) {

    .formContent{
        width: 50%;
    }

    input{
        width: 100px;
    }

    .Content {
        font-size: 10px;
        width: 300px;
    }

    .Btn {
        font-size: 10px;
    }
}
